<p><%= link_to @application.name, @application.attachment.url %></p>
<p>Frequency: <%=  @application.frequency %></p>
<p>Renewal Due Date: <%=  @application.due_date.to_date %></p>

<%= link_to "#{@state.name} TNC Applications", state_applications_path, class: 'btn btn-default' %>
