<h1>States<h2>

<div class="row">
  <div class="col-md-8">
    <% if policy(State.new).create? %>
      <%= link_to "New State", new_state_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <% @states.each do |state| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to state.name, state %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
