<h1><%= @state.name %></h1>


<div class="row">
  <div class="col-md-8">
    <!-- how many IDs does new_state_reg_path need? just one -->
    <%= link_to "Regs", state_regs_path(@state), class: 'btn btn-success' %>
    <%= link_to "Applications", state_applications_path(@state), class: 'btn btn-success' %>

    <% if policy(@state).edit? %>
      <%= link_to "Edit", edit_state_path(@state), class: 'btn btn-success' %>
    <% end %>

  </div>
</div>
