@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";


user-info {
	margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.btn-default {
	background: #F5F5DC;
	border: 1px solid black;
	border-radius: 5px;
}

.btn-success {
	background: #F5F5DC;
	color: black;
}

.btn-danger {
	background: grey;
}
