@import "bootstrap-sprockets";
@import "bootstrap";
@import "fullcalendar";
@import "welcome";


user-info {
	margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.btn-default {
	background: #F5F5DC;
	border-radius: 5px;
	font-size: 17px;
	color: black;
}

.btn-success {
	background: #F5F5DC;
	color: black;
}

.btn-danger {
	background: grey;
}

.glyphicon-pencil {
	color: grey;
	margin: 8px;
}

.glyphicon-remove {
	color: #FA8072;
	margin: 8px;
}

#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
